/* Miscellaneous useful shortcuts */
.fl { float: left; } .fr { float: right; }
.tc { text-align: center; } .tr { text-align: right; } .tl { text-align: left; }

/* This code handles CSS for the calendar, accordion-like class info, and registration box. */

#calendar {
	table { border: 2px solid #ddd; font-weight: normal; font-size: 90%; background-color: white; margin-bottom: 15px; border-collapse: collapse; width: 100%; text-align: center; }
	th, td { border-top: 1px solid #ddd; border: 1px solid #ddd; padding: 5px; }
	td a { display: block; text-decoration:none; }
	td a:hover { text-decoration: underline; }
	
	.lunch { background-color: #eee; }
	.void { background-color: #eee; }
}

details {
	border: 2px solid #243b80; padding: 5px; margin-top: 15px;
	
	summary {
		display: inline-block;
		
		&::before {
			display: inline-block;
			content: '❌';
			margin-right: 1ex;
			vertical-align: top;
		}
		
		&::-webkit-details-marker { display: none; }
	}
	h2 { display: inline-block; margin: 0; }
	dl {
		float: right;
		text-align: right;
		padding: 0 10px;
		margin: 5px 10px;
		
		dt, dd { margin: 0; }
		dt { font-weight: bold; font-size: 110%; color: #243b80; }
		dd {  }
		dt + dd:not(:last-child) { margin-bottom: 10px; }
	}
	
	&:not([open]) { display: none; }  /* Hide all collapsible sections except the active one. */
	&::after { content: ""; clear: both; display: table; }  /* Ensure the section expands to fit the details. */
}

form { margin-top: 10px; }  /* You can specify the form's width here, otherwise it will be 100% of the container it's put into. */
label { font-weight: bold; display: block; padding-left: 2px; font-size: 90%; }
input { margin-bottom: 5px; }
select { width: 210px; margin-right: 10px; margin-bottom: 10px; }
fieldset { border: 2px solid #ddd; }



.fs-header { width: 100%; padding: 3px; text-align: center; background-color:#eee; border:1px solid #ddd; color:black; font-size: 180%;}
.personal legend { font-weight: bold; color: black; font-size: 90%; font-family:'Georgia', 'Serif';}
.personal { border:none; padding:0; margin:0px; width: 100%}
.lift { margin-top: -17px; margin-bottom: 20px; }
.form-short {width: 11.35em; margin-right: 5px;}
.form-mid {width: 19em; margin-right: 5px;}
.form-last {margin-right:0;}
.classes legend { text-align:center; width: 100%; font-weight: bold; color: black; font-family:'Georgia', 'Serif'; border-bottom: 2px solid #eee; }
.classes {border: none; }
.totalcost { clear:left; }
.shortname label {padding-right: 1em; font-size: 85%; font-weight: normal; margin-bottom: 20px; }

